*{
    
    font-weight: 100;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;

}

li{
    display: inline;
    flex: content;
    margin: 0px 10px;
}

.text{
    text-align: center;
    margin: 55px;
}

.menu{
    background-color: red;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 1;
}

div{
    font-weight: bold;
    font-size: 55px;
    display: block;
    position: absolute;

}

div div{
    height: 200px;
    width: 200px;
    text-align: center;
    justify-items: center;
}

.contenedor{
    background: yellow;
    position: relative;
    margin: 10px auto;
    border: black 5px solid;
    width: 800px;
    height: 800px;
    



}

.caja1{
top: 0;
    outline: solid black 5px;

}
.caja2{
right: 0;
    outline: solid black 5px;


}
.caja3{
bottom: 0;
right: 0;
    outline: solid black 5px;


}
.caja4{
bottom: 0;
    outline: solid black 5px;

}
.caja5{

    margin: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    outline: solid black 5px;

}
    





/* 
.caja3{
    border: 5px solid black;
    position: relative;

}
 */




/* 
.caja1 
{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    border: solid green 5px;
    box-sizing: border-box;
}

.caja2 
{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    
}

 */











/* 
h2{

    background-color: red;
    display:inline-block;
    padding: 100px ;
    box-sizing: border-box;
    text-align: center;
    margin: 20px 10px;
    border-radius: 40%;
    border: 14px lightblue solid ;
    box-shadow: black 25px 25px;
    text-shadow: 2px 2px, 2px 2px, 2px 2px,  ;
    transform: rotate(45deg);

} */